@import "responsive.scss";
*{
    margin: 0;
    padding: 0;
}

html,body{
    font-family : 'Montserrat', sans-serif ;
    height: 100%;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

.bloc-header{
    height: 100vh;
    background: center center / cover no-repeat url('img/header_background.png');
    display: flex;
    justify-content: center;
}

.content-header{
    margin-top: 10%;
    h1,h2{
       text-transform: uppercase;
    }
    h1{
        color: rgb(255,255,255);
        font-size: 152px
    }
    h2{
        color: rgb(16,116,158);
        letter-spacing: 22px;
        font-weight: 200;
        font-size: 24px;
        text-align: center;
    }
    p{
        text-align: center;
        color: white;
        margin-top: 200px;
    }
    .btn-scroll{
        position: relative;
        border: solid 1px white;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        margin: 10px auto 10px auto;
        img{
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%, -50%);
            animation-name: scroll_anim;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }
    }
}


@keyframes scroll_anim{
    0%{
        top: 30%;
    }
    50%{
        top: 70%;
    }
    100%{
        top: 30%;
    }
}

.bloc-content{
    position: relative;
    background-color: rgb(17,116,158);
    height: 739px;
    
}

.top-bloc{
    height: 50%;
    .big-letter{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 247px;
        opacity: 0.6;
        color: rgba(255, 255, 255, 0.18);
        text-align: center;
    }
    h3{
        position: absolute;
        text-align: center;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 37px;
        text-transform: uppercase;
        width: 100%;
    }
}
.container{
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.card{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    .logo-card{
        position: relative;
        border-radius: 50%;
        height: 133px;
        width: 133px;
        background-color: rgb(46, 133, 170);
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } 
    }
    .title-card{
        color: white;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p{
        font-size: 15px;
        color: rgb(255, 255, 255);
        line-height: 1.6;
    }
}

.container-article{
    display: flex;
    height: 500px;
    position: relative;
    .view-more{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        &:hover{
            background-color: rgba(34, 34, 34, 0.3);
            transition: .5s;
        }
    }
    ul{
        margin-top: 6px;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        width: 50%;
        max-width: 50%;
        padding-left: 20px;
        padding-right: 20px;
        &:nth-of-type(1){
            padding-left: 15%;
            padding-right: 150px;
            background-color: rgb(34, 34, 34);
            color: white;
        }
        .infos-article{
            display: flex;
            margin-bottom: 20px;
        }
        h4{
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        ul{
            list-style-type: none;
            margin-left:0;
            padding-left:0;     
        }
        
        p{
            max-width: 100%;
            line-height: 30px;
        }
    }
    .thumbnail{
        width: 50%;
        height: 100%;
        img{
            height: 100%;
            min-height: 100%;
            max-width: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}

.second-article{
    .content:nth-of-type(1){
        order: 2;
        padding-left: 150px;
        padding-right: 15%;
        background-color: rgb(243, 243, 243);
        color: rgb(34, 34, 34);
    }
}

.wrapper{
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(17,116,158);
    display: flex;
    align-items: center;
    .container{
        height: 25%;
        img{
            height: 70px;
        }
    }
    .card-wrapper{
        display: flex;
        width: 50%;
        padding-right: 20px;
        padding-left: 20px;
        p{
            margin-left: 25px;
            color: white;
            line-height: 30px;
        }
    }
}

.bloc-form{
    position: relative;
    padding-top: 25%;
    background: center center / cover no-repeat url("img/background_form.png");
    .container-form{
        justify-content: center;
    }
    p:nth-child(-n+4){
        display: inline;
    }
    
    input{
        box-sizing: border-box;
        margin-bottom: 20px;
        padding-left: 15px;
        background: none;
        height: 48px;
        border: solid 1px white;
        color: white;
        font-family : 'Montserrat', sans-serif ;
    }
    #name-form, #email-form{
        margin-right: 10px;
    }
    textarea{
        box-sizing: border-box;
        resize: none;
        background: none;
        width: 100%;
        color: white;
        border: solid 1px white;
        padding-left: 15px;
        padding-top: 15px;
        padding-right: 15px;
        font-family : 'Montserrat', sans-serif ;
    }
    .wpcf7-submit{
        background-color: rgb(17,116,158);
        border: none;
        font-weight: bold;
        width: 227px;
        height: 64px;
        display: block;
        margin: auto;
        margin-top: 20px;
        text-transform: uppercase;
        padding-left: 0;
    }
    .wpcf7-response-output{
        background-color: red!important;
        padding: 10px!important;
        text-align: center!important;
        color: white!important;
        border: none!important;
    }
}

@media #{$large-down}{
    .container-article{
        .content:first-of-type{
            padding: 5%;
        }
    }
}

@media #{$medium-down}{
    .content-header{
        h1{
            font-size: 70px;
            text-align: center;
        }
    }

    .card{
        .logo-card{
            height: 80px;
            width: 80px;
        }
    }

    .wrapper{
        .container{
            img{
                height: 30px;
            }
        }   
    }
    .container-form{
        padding: 20px;
    }

    .bloc-form{
        input, textarea{
            width: 100%;
        }
    }
}

@media #{$very-medium-down}{
    .bloc-form{
        
        .top-bloc{
            height: 25%;
            p{
                top: 15%;
            }
            h3{
                top: 15%;
            }
        }
        
    }
}

@media #{$small-down}{
    .bloc-content{
        height: auto;
        padding-top: 30%;
        padding-bottom: 10%;
    }
    .top-bloc{
        height: 15%;
        h3{
            top: 10%;
            font-size: 20px;
        }
        .big-letter{
            top: 10%;
            font-size: 150px;
        }
    }
    .container{
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
        margin-bottom: 20px;
        .title-card{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .container-article{
        flex-direction: column;
        height: auto;
        .thumbnail{
            height: auto;
            width: 100%;
        }
        .content{
            width: 100%;
            max-width: 100%;
            &:nth-of-type(1){
                order: 1;
            }
        }
    }
    .wrapper{
        padding-top: 15%;
        padding-bottom: 15%;
        .card-wrapper{
            width: 90%;
            padding: 0;
            &:first-of-type{
                margin-bottom: 50px;
            }
        }
    }
    .bloc-form{
        input,textarea{
            width: 100%;
        }
    }
}

@media #{$x-small-down}{
    .content-header{
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 18px;
            letter-spacing: 15px;
        }
    }
    .bloc-content{
        padding-top: 40%;
    }
    .bloc-form{
        padding-top: 50%;
        p:nth-child(-n+3){
            margin-right: 0;
        }
    }
}

@media #{$very-small-down}{
    .content-header{
        h2{
            letter-spacing: 10px;
            font-size: 16px;
        }
    }.bloc-content{
        padding-top: 60%;
    }
}